/* css styles */


/* Restore visible hyperlinks (syllabus-friendly) */
a {
  color: #084298;           /* Bootstrap default blue */
  text-decoration: underline;
}

a:hover {
  color: #084298;
}

/* Restore real bold text */
/*strong, b {
/*  font-weight: 700;
/*}


.navbar {
  background-color: #212529; /* dark gray */
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: #f8f9fa !important;
}

